<footer class="sunny-container">
  <div class="site-container">
    <div class="sunny">
      <div class="social-media-links">
        <a href="mailto:consciouslyconnectedhealth@gmail.com">
          <i class="far fa-envelope fa-lg"></i>
        </a>
        <a href="https://www.instagram.com/consciouslyconnectedhealth/">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
      </div>

      <div>
        <div class="sun" style="background-image: url('/assets/img/rising_sun.png');" alt=""></div>
        <!-- <div class="photo" style="background-image: url('/assets/img/me.jpg');"></div> -->
        <!-- <img src="/assets/img/rising_sun.png" alt=""> -->
        <div class="logo fancy">Consciously Connected Health</div>
        <p class="copyright">&copy;2020 Consciously Connected Health All Right Reserved</p>
      </div>

      <a  class="terms-privacy" href="#">Terms &amp; Privacy</a>
    </div>
  </div>
</footer>
