<footer class="sunny-container">
  <div class="site-container">
    <div class="sunny">

      <div>
        <div class="sun" style="background-image: url('/assets/img/rising_sun.png');" alt=""></div>
        <div class="logo fancy">Consciously Connected Health</div>
      </div>

      <div class="social-media-links">
        <a href="mailto:consciouslyconnectedhealth@gmail.com" target="_blank">
          <i class="far fa-envelope fa-lg"></i>
        </a>
        <a href="https://www.instagram.com/consciouslyconnectedhealth/" target="_blank">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
