<div class="site-container">
  <nav class="site-nav" id="site-nav">
    <input type="checkbox" id="nav-toggle">
    <label for="nav-toggle" class="menu-icon">
      <i class="fa fa-bars fa-2x"></i>
    </label>

    <div class="left-menu">
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </div>

    <a href="/" class="logo">Consciously Connected Health</a>

    <div class="right-menu">
      <a href="mailto:consciouslyconnectedhealth@gmail.com">
        <i class="far fa-envelope fa-lg"></i>
      </a>
      <a href="https://www.instagram.com/consciouslyconnectedhealth/">
        <i class="fab fa-instagram fa-lg"></i>
      </a>
    </div>
  </nav>
</div>
