footer.sunny-container {
  padding: 6rem 2rem;
}

footer .sunny {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2rem;
}

.sunny .social-media-links {
  justify-self: left;
}

.sunny .terms-privacy {
  justify-self: right;
}

.sunny a {
  color: black;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.sun {
  background-size: cover;

  width: 34%;
  padding-bottom: 17%;
  overflow: hidden;

  margin: 0 auto;
}

.sunny .logo {
  font-size: 4rem;
  margin-top: -1rem;
}

.sunny .copyright {
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (max-width: 750px) {
  footer .sunny {
    grid-template-columns: 1fr;
  }

  .sunny .social-media-links {
    grid-row: 2;
    justify-self: center;
  }

  .sunny .terms-privacy {
    justify-self: center;
  }
}
