/* Fonts */

@font-face {
    font-family: 'Glacial Indifference';
    src: url('/assets/font/glacial-indifference/glacialindifference-regular-webfont.woff2') format('woff2'),
         url('/assets/font/glacial-indifference/glacialindifference-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Glacial Indifference';
    src: url('/assets/font/glacial-indifference/glacialindifference-bold-webfont.woff2') format('woff2'),
         url('/assets/font/glacial-indifference/glacialindifference-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Glacial Indifference';
    src: url('/assets/font/glacial-indifference/glacialindifference-italic-webfont.woff2') format('woff2'),
         url('/assets/font/glacial-indifference/glacialindifference-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Moontime';
    src: url('/assets/font/moontime/moontime-regular-webfont.woff2') format('woff2'),
         url('/assets/font/moontime/moontime-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/font/monserrat/Montserrat-Regular.woff2') format('woff2'),
         url('/assets/font/monserrat/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/font/monserrat/Montserrat-Medium.woff2') format('woff2'),
         url('/assets/font/monserrat/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/font/monserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('/assets/font/monserrat/Montserrat-SemiBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* Styles */

* {
  padding: 0;
  margin: 0;
  font-family: "Glacial Indifference", sans-serif;

  text-align: center;
}

a {
  text-decoration: none;
}

section {
  padding: 60px 0;
}

/* .website-header {
  display: flex;
  width: 100%;
  background: #eee;
  align-items: center;
  justify-content: space-between;
} */

.header-logo {
  font-family: "Moontime";
  font-size: 3em;
  color: black;
  letter-spacing: 3px;
}

/* nav{
  display: flex;
  width: 100%;
  height: 20%;
  background: #eee;
  align-items: center;
  justify-content: center;
}

a{
  text-decoration: none;
  color: rgba(0,0,0,0.8);
  margin: 0 40px;
}

#logo{
  width: 200px;
  height: 100%;
  background: rgba(0,0,0,0.3);
} */

.website-header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  max-width: 940px;
  margin: 0 auto;
  padding: 20px 0;
}

nav {
  text-align: left;
}

nav a {
  font-family: "Glacial Indifference"; /* Montserrat */
  color: black;
  text-transform: uppercase;
  padding: 20px;
  display: inline-block;
}

.social-media-links {
  text-align: right;
}

.social-media-links a {
  /* display: inline-block;
  width: 25px;
  height: 25px;
  color: black; */
  font-family: "Glacial Indifference"; /* Montserrat */
  color: black;
  text-transform: uppercase;
  padding: 10px;
  display: inline-block;
 }

 .social-media-links img {
   height: 24px;
 }

 /* #insta {
   width: 29px;
   height: 29px;
 } */

/* .email {
  background-image: url("/assets/img/email.pdf");
  background-repeat: no-repeat;
  background-size: contain;
}

.instagram {
  background-image: url("/assets/img/instagram.pdf");
  background-repeat: no-repeat;
  background-size: contain;
} */

h1 {
  font-family: "Glacial Indifference";
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 20px;
  display: block;
}

h1 > .emphasized {
  font-family: "Moontime";
  font-size: 1.6em;

  text-shadow: -4px 4px #7B7E68;
  transform: rotate(-5deg);
}

h2 {
  font-family: "Glacial Indifference";
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 3px;

  margin-bottom: 20px;
}

h2.underlined {
  display: inline-block;
  border-bottom: 1px black solid;
  padding: 0 30px 8px 30px;
}

h2.shadowed {
  text-shadow: -2px -2px white;
}

h3 {
  font-family: "Moontime";
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 20px;
  display: block;
  transform: rotate(-2deg);
}

p {
  font-family: "Glacial Indifference"; /* Montserrat */
  font-size: 1.2em;
  margin-bottom: 20px;
}

p.emphasized {
  color: #823F2D;
}

p > .emphasized {
  font-weight: bold;
}

.button {
  color: white;
  background-color: #CA8938;
  padding: 10px 20px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.4rem;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

.hero {
  text-align: right;
}

.hero .container {
  max-width: 500px;
  transform: translate(50%);
  letter-spacing: 3px;
}

.blurb {
  line-height: 1.6;
  font-size: 1.4em;
}

.blurb .emphasized {
  text-transform: uppercase;
}

.newsletter-banner {
  display: block;
  background-color: #CA8938;
  padding: 10px 0;

  font-family: "Glacial Indifference"; /* Montserrat */
  color: white;
  font-size:0.9em;
  text-transform: uppercase;
}

.mission {
  background-color: #F1ECE5;
}

.about {
  background-color: #C59F8F;
}

.about .container {
  max-width: 940px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-auto-rows: 1fr;
}

.about .container > * {
  padding: 20px;
  background-color: white;
  box-sizing: border-box;
}

.about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stay-tuned {
  background-color: #F1ECE5;
}

.newsletter {
  background-color: #9C583E;
}

/* ************************************************* */

.hero {
  background-image: url("/assets/img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  height: 560px;

  /* left-top, right-top, right-almost-bottom, center-bottom, left-almost-top */
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 50% 100%, 0 94%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 92%, 50% 100%, 0 94%);
}

.tint {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;

  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.2);
}

.hero-blurb {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);

  text-align: center;
  color: white;
}

.hero-blurb h1 {
  font-family: cursive;
  font-size: 48px;
}

.hero-blurb p {
  font-size: 18px;
}

.learn-more {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  text-align: center;
}

.learn-more .container {
  grid-column-start: 2;
  grid-column-end: 3;
}

/**** General ****/

html {
  font-size: 62.5%; /* This makes px => rem conversion simple */
}

.site-container {
    max-width: 960px;
    margin: 0 auto;
}

/**** Header ****/

/* Banner */

.banner {
  background-color: #D68538;
  padding: 1.0rem 0;
}

.banner .full-text, .banner .short-text {
  color: white;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 1.2rem;
}

.banner .short-text {
  display: none;
}

@media screen and (max-width: 540px) {
  .banner .full-text {
    display: none;
  }

  .banner .short-text {
    display: inline-block;
  }
}

/* Navigation */

.site-nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.site-nav a {
  font-family: "Glacial Indifference"; /* Montserrat */
  font-size: 1.6rem;
  text-transform: uppercase;
  color: black;
  padding: 20px;
  display: inline-block;
}

#nav-toggle {
    display: none;
}

.site-nav .menu-icon {
  display: none;
  padding: 20px;
}

.site-nav .left-menu {
  grid-column: 1;
}

.site-nav .left-menu > * {
  float: left;
}

.site-nav .logo {
  font-family: "moontime";
  text-transform: none;
  font-size: 4rem;
  letter-spacing: 0.1rem;
  grid-column: 2;
}

.site-nav .right-menu {
  grid-column: 3;
}

.site-nav .right-menu > * {
  float: right;
}

@media screen and (max-width: 1000px) {
  .site-nav {
    grid-template-columns: auto 1fr;
  }

  .site-nav .left-menu {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-row: 2;
    grid-column: 1;
  }

  .site-nav .right-menu {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-row: 2;
    grid-column: 2;
  }

  .site-nav a.logo {
    grid-row: 1;
    grid-column: 1;
  }

  .site-nav a.logo {
    grid-row: 1;
    grid-column: 1;
    text-align: left;
  }

  .site-nav .menu-icon {
    display: block;
    grid-row: 1;
    grid-column: 2;
  }

  .site-nav .menu-icon > * {
    float: right;
  }

  #nav-toggle:checked ~ .left-menu, #nav-toggle:checked ~ .right-menu {
      display: grid;
  }
}

/**** About Page ****/

body {
  overflow-x: hidden;
}

.about {
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  grid-template-rows: 66% auto auto;
  align-items: center;
  background-color: white;
  gap: 2rem;
  margin-top: 5rem;

  /* .blurb-background will extend outside the bounds of parent */
  /* overflow: hidden; */
}

.about .blurb-background {
  grid-column: 1 / span 2;
  grid-row: 1;

  height: 100%;
  background-color: #F2ECE5;

  /* Extend background outside of parent */
  width: 500%;
  margin-left: -200%;
  margin-top: -5rem;
  padding-top: 5rem;
}

.about .blurb-content {
  grid-column: 1;
  grid-row: 1;
}

.about .blurb-content h1 {
  font-family: "moontime";
  text-transform: none;
  font-size: 8rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0;
}

.about .blurb-content h1 > span {
  font-family: "moontime";
  text-transform: none;
  font-size: 6rem;
  letter-spacing: 0.1rem;
}

.about .blurb-content p {
  font-family: "Glacial Indifference";
  font-size: 2.4em;
  text-align: center;
}

.about .blurb-pic-container {
  width: 100%;
  height: auto;
  grid-column: 2;
  grid-row: 1 / span 2;
  box-sizing: border-box;
}

.about .bio-start {
  grid-column: 1;
  grid-row: 2;
  align-self: end;
}

.about .bio-start ~ * {
  grid-column: 1 / span 2;
}

.about p, .about p b {
  font-family: "Montserrat";
  font-size: 1.6rem;
  text-align: left;
  line-height: 2.6rem;
}

.about h3 {
  font-family: "Glacial Indifference";
  text-transform: uppercase;
  transform: inherit;
  text-align: left;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}

.about .my-journey {
  padding: inherit;
}

.about .my-journey h3 {
  color: #8C3A27;
}

.about .my-journey h3 ~ p {
  margin-left: 5rem;
}

.about .my-journey .fancy {
  font-family: "moontime";
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: #D98E73;
}

.about .work-with-me {
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  gap: 2rem;
  align-items: center;
}

.about .work-with-me img {
  width: 100%;
  height: auto;
}

.about .work-with-me h3 {
  margin-top: -7rem; /* This is to keep center when the next section comes up into this section. See .my-beliefs */
  color: #D5861C;
}

.about .work-with-me ul {
  list-style-position: outside;
  margin-left: 2rem; /* Should match grid gap size */
}

.about .work-with-me li, .about .work-with-me li b {
  font-family: "Montserrat";
  font-size: 1.6rem;
  text-align: left;
  line-height: 2.6rem;
}

.about .work-with-me .blurb {
  font-family: "Montserrat";
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: center;

  margin: 2rem 0;
  padding: 0 4rem;
  font-weight: 500;
}

.about .my-beliefs {
  width: 100%;
  height: 700px;
  background-color: #F2ECE5;

  margin-top: -14rem;
  /* padding-top: -14rem; */
  z-index: -1;

  /* Extend background outside of parent */
  width: 500%;
  margin-left: -200%;
}

.fancy {
  font-family: "Moontime";
  font-size: 1.6em;
}

.shadowed {
  text-shadow: -4px 4px #7B7E68;
}

.about .my-beliefs h2 {
  margin-top: 6rem;
  font-size: 7rem;
  text-transform: none;
  font-weight: normal;

  text-shadow: 1.5rem 0 white;
}

.about .my-beliefs .list {
  background-color: white;
  list-style: none;
  padding: 3rem;
}

.about .my-beliefs .list p {
  font-family: "Montserrat";
  text-align: center;
  font-size: 1.6rem;
}

.about .my-beliefs .list hr {
  background-color: black;
  width: 16rem;
  height: 0.2rem;

  border: 0;
  margin: 3rem auto;
}

.about .fun-facts {
  background-color: white;
}

.about .fun-facts h2 {
  font-family: "Glacial Indifference";
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2.4rem;
  text-align: left;
}

.about .fun-facts .fun-fact {
  padding: 2rem;

  display: grid;
  grid-template-columns: 1fr 8fr;
  gap: 2rem;
  align-items: center;

  border: 4px #80856A solid;
  background-color: #DEDEDE;
}

.about .fun-facts .fun-fact .fact-number {
  font-family: "Glacial Indifference";
  font-size: 7rem;
  text-align: right;
}

.about .fun-facts .fun-fact p {
  margin: 0;
}

/*** Footer ***/

footer.sunny {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2rem;

  background-color: #A65437;

  padding: 2rem;
}

footer.sunny *:first-child {
  justify-self: left;
}

footer.sunny *:last-child {
  justify-self: right;
}

footer.sunny a {
  color: black;
  font-size: 1.8rem;
  text-transform: uppercase;
}

footer.sunny .logo {
  font-size: 4rem;
}

footer.sunny .copyright {
  font-size: 1.2rem;
  text-align: center;
}

/* .hello-background {
  background-color: #F2ECE5;
}

.hello {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hello > * {
  padding: 2rem;
}

.hello .blurb p {
  font-family: "Glacial Indifference";
  font-size: 1.6em;
}

.hello img {
  width: 100%;
} */

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
